---
import { Icon } from "astro-icon";
type HeroItem = {
  url: string;
  icon: string;
};

const heroItems: HeroItem[] = [
  {
    url: "https://www.linkedin.com/in/isaiasd",
    icon: "ri:linkedin-box-fill",
  },
  {
    url: "https://github.com/isaias005",
    icon: "mdi:github",
  },
];
---

<div class="bg-gray-800 py-32">
  <div class="container">
    <h1 class="text-3xl text-center mb-8">Senior Frontend Developer</h1>
    <div class="flex gap-4 justify-center">
      {
        heroItems.map((item) => (
          <a href={item.url} target="_blank">
            <Icon
              class="hover:text-red-400"
              name={item.icon}
              size={48}
            />
          </a>
        ))
      }
    </div>
  </div>
</div>
