---
import ProjectItem from "./ProjectItem.astro";

type Project = {
  image: string;
  url: string;
  title: string;
  description: string;
};

const projects: Project[] = [
  {
    image:
      "assets/disclone.png",
    url: "https://disclone-ten.vercel.app",
    title: "Discord Clone app",
    description:
      "A discord clone app made with React, Next.js 13, Tailwind CSS, Pocketbase, and Vercel. Trying to replicate the Discord UI while adding some of my own features.",
  }
];
---

<section class="flex flex-wrap justify-between">
  {projects.map((project) => <ProjectItem {...project} />)}
</section>
